.wrapper .header-top{
    background: #C71E1E;
    position: relative;
}
.header-top .container{
    max-width: 1230px;
}
/* header left */
ul li a.nav-link-left{
    font-size: 13px;
    color: #C4C4C4;
    padding: 6px 0;
}
ul li a.nav-link-left-local{
    color: white;
}
ul li a.nav-link-left p.border-r{
    border-right: 1px solid #C4C4C4;
    margin-bottom: 0;
    padding-right: 10px;
}
ul li a p.border-r-r{
    padding-left: 10px;
}
ul li a.nav-link-left p.border-none{
    border-right: none;
}
ul li a.nav-link-left:hover{
    color: white;
}
/* header right */
.header-top-content-right ul{
    float: right;
}
ul li.nav-item-right{
    position: relative;
}
ul li a.nav-link-right{
    font-size: 15px;
}
ul li a.nav-link-right i.fas{
    margin-right: 5px;
    padding-left: 10px;
}
ul li a.nav-link-right{
    padding: 6px 0;
    color: #C4C4C4;
}
ul li a.nav-link-right p.border-r{
    padding-right: 10px;
}
.hover-talk-bubble{
    position: absolute;
    width: 100%;
}
.talk-bubble {
    width: 100%;
    height: 30px;
    background: black;
    position: relative;
    top: 10px;
    left: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    z-index: 1;
}
.talk-bubble:before {
    content: "";
    position: absolute;
    right: 40%;
    top: -6px;
    width: 0;
    height: 0;
    z-index: -1;
    border-left: 20px solid transparent;
    border-bottom: 20px solid black;
    border-right: 20px solid transparent;
}
ul li a.nav-link-right:hover{
    color: white;
    transition: 1s;
}
.hover-talk-bubble .talk-bubble p.content-talk-bubble{
    color: white;
    text-align: center;
}
.header-top .header-top-content-right .hover-talk-bubble{
    display: none;
}
.header-top .header-top-content-right li:hover .hover-talk-bubble{
    display: block;
}
.header-top .header-top-content-show{
    display: none;
}
/* Start header-main */
.header-main{
    max-height: 100%;
}
.header-main .container{
    max-width: 1230px;
    padding: 0;
}

/* logo */
/* Search */
.header-main ul.navbar-search-form .form-inline input[type='search']{
    border: 1px solid #C71E1E;
}
/* OPEN MENU */
.header-main button.open-menu{
    display: none;
}
.header-main button.open-shopping-cart{
    display: none;
}
/* Header-navbar-menu */
.header-main{
    position: relative;
}
.header-main .header-content-responsive{
    display: flex;
}
.header-main .navbar{
    display: flex;
}
.navbar ul li.nav-item{
    padding: 0 12px;
    position: relative;
}
.navbar ul li.item{
    padding-right: 0;
}
.navbar ul li a.nav-link-item{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-bottom: 50px;
}
.navbar ul li a.nav-link-item:hover{
    color: #C71E1E;
}
.navbar ul li .nav-list-menu{
    width: 250px;
    background: #C71E1E;
    position: absolute;
    top: 30px;
    left: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    z-index: 1;
}
.nav-list-menu:before {
    content: "";
    position: absolute;
    right: 70%;
    top: -6px;
    width: 0;
    height: 0;
    z-index: -1;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #C71E1E;
    border-right: 20px solid transparent;
}
.nav-list-menu li{
    padding: 10px 100px 0 10px;
}
.nav-list-menu li.list__item{
    padding-bottom: 10px;
}
.nav-list-menu li a.list__menu__item{
    padding: 5px 40px 5px 5px;
    text-decoration: none;
    color: white;
    display: block;
}
.nav-list-menu li a.list__menu__item:hover{
    background: white;
    color: #C71E1E;
    border-radius: 5px;
}
.header-main .navbar-content-menu ul.nav-list-menu{
    display: none;
}
.header-main .navbar-content-menu li.nav-item:hover ul.nav-list-menu{
    display: block;
}
/* Responsive header */
@media all and (max-width: 1024px){
    .header-main .navbar-search-form form input[type='search']{
        width: 20px;
    }
}

@media all and (max-width: 768px){
    /* header top */
    .header-top .header-top-content-left{
        display: none;
    }
    .header-top .header-top-content-right{
        display: none;
    }
    .header-top .header-top-content-show{
        display: block;
    }
    .header-top-content-show ul li{
        margin: 0 auto;
    }
    .header-top-content-show ul li a{
        color: white;
        font-size: 0.8em;
    }

    /* header-main */
    .header-main .header-main-content .header-content-responsive{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-main a.navbar-brand{    
        margin: 0 auto;
    }

    .header-main button.open-menu{
        display: block;
    }
    button.open-menu{
        position: absolute;
        top: 15px;
        left: 10px;
        background: white;
        font-size: 1.5em;
        z-index: 999999;
    }
    .header-main button.open-shopping-cart{
        display: block;
    }
    button.open-shopping-cart{
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 1.5em;
        background: white;
    }
    .header-content-responsive.all{
        opacity: 1;
    }
}